.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.item {
    margin: 0 25px;
}

.list-items {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px -28px;
    background-color: blue;
    color: yellow;
}

.exchange {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.group {
    margin: 0 25px;
    display: flex;
}

input[type="text" i] {
    padding: 5px 10px;
    border: 1px solid gray;
}

select {
    padding: 5px 10px;
    border: 1px solid gray;
}